<div class="jumbotron">
    UPDATE COURSE
    <br /><br />
    <input type="text" class="form-control" placeholder="Enter new code..." ng-model="selectedCourse.CourseCode" />
    <br />
    <input type="text" class="form-control" placeholder="Enter new name..." ng-model="selectedCourse.CourseName" />    
</div>

<div>
    <a href="#courses" class="btn btn-default">
        Back
        <i class="glyphicon glyphicon-backward"></i>
    </a>
    <button type="button" class="btn btn-primary" ng-click="update()">
        Update
        <i class="glyphicon glyphicon-save"></i>
    </button>
</div>